/* Colors */
/* header */
@media only screen and (max-width: 768px) {
  header li:last-of-type a {
    border: none; }
  header li a {
    display: block;
    padding: 34px 20px;
    text-decoration: none;
    color: white;
    font-family: "brandon_grotesquebold";
    border-bottom: 1px solid #0f4583;
    line-height: 1; }
  header .menu-btn:hover {
    background-color: #f4f4f4; }
  header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    text-align: left;
    background-color: #002c5f;
    overflow: hidden; }
  header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 32px 20px;
    position: relative;
    user-select: none; }
    header .menu-icon .navicon {
      background: white;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 18px; }
      header .menu-icon .navicon:before, header .menu-icon .navicon:after {
        background: white;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%; }
      header .menu-icon .navicon:before {
        top: 5px; }
      header .menu-icon .navicon:after {
        top: -5px; }
  header .menu-btn {
    display: none; }
    header .menu-btn:checked ~ .menu {
      max-height: 333.33px; }
    header .menu-btn:checked ~ .menu-icon .navicon {
      background: transparent; }
      header .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg); }
      header .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg); }
    header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
      top: 0; } }

